<section class="dst-block">
	[[Snippet.ContentHeader]]
	<div class="custom-template-showroom">
		<ul class="makes">
			<li class="make item-Can-Am">
				<a href="/inventory/v1/Current/Can-Am">
					<img class="make-image" src="//cdn.dealerspike.com/imglib/InventoryPages/makes/Can-Am.jpg">
					<div class="make-info">

						<img class="make-logo" src="//cdn.dealerspike.com/imglib/InventoryPages/Makes/Can-Am-logo.png">

						<h3 class="make-name">
							Can-Am® Construction 
						</h3>
					</div>
				</a>
			</li>
			
			<li class="make item-Honda">
				<a href="/inventory/v1/Current/Honda">
					<img class="make-image" src="//cdn.dealerspike.com/imglib/InventoryPages/makes/Honda.jpg">
					<div class="make-info">

						<img class="make-logo" src="//cdn.dealerspike.com/imglib/InventoryPages/makes/Honda-logo.png">

						<h3 class="make-name">
							Honda
						</h3>
					</div>
				</a>
			</li>
			
			<li class="make item-Honda-Marine">
				<a href="/inventory/v1/Current/Honda-Marine">
					<img class="make-image" src="//cdn.dealerspike.com/imglib/InventoryPages/Makes/Honda-Marine.jpg">
					<div class="make-info">

						<img class="make-logo" src="//cdn.dealerspike.com/imglib/InventoryPages/Makes/Honda-Marine-logo.png">

						<h3 class="make-name">
							Honda Marine
						</h3>
					</div>
				</a>
			</li>
			
			<li class="make item-Honda-Power">
				<a href="/inventory/v1/Current/Honda-Power">
					<img class="make-image" src="//cdn.dealerspike.com/imglib/InventoryPages/Makes/Honda-Power.jpg">
					<div class="make-info">

						<img class="make-logo" src="//cdn.dealerspike.com/imglib/InventoryPages/Makes/Honda-Power-logo.png">

						<h3 class="make-name">
							Honda Power
						</h3>
					</div>
				</a>
			</li>
			
			<li class="make item-Sea-Doo">
				<a href="/inventory/v1/Current/Sea-Doo">
					<img class="make-image" src="//cdn.dealerspike.com/imglib/InventoryPages/makes/Sea-Doo.jpg">
					<div class="make-info">

						<img class="make-logo" src="//cdn.dealerspike.com/imglib/InventoryPages/makes/Sea-Doo-logo.png">

						<h3 class="make-name">
							Sea-Doo
						</h3>
					</div>
				</a>
			</li>
			
			<li class="make item-Timbersled">
				<a href="/inventory/v1/Current/Timbersled">
					<img class="make-image" src="//cdn.dealerspike.com/imglib/InventoryPages/Makes/Timbersled.jpg">
					<div class="make-info">

						<img class="make-logo" src="//cdn.dealerspike.com/imglib/InventoryPages/Makes/Timbersled-logo.png">

						<h3 class="make-name">
							Timbersled
						</h3>
					</div>
				</a>
			</li>
			
			<li class="make item-Yamaha">
				<a href="/inventory/v1/Current/Yamaha">
					<img class="make-image" src="//cdn.dealerspike.com/imglib/InventoryPages/makes/Yamaha.jpg">
					<div class="make-info">

						<img class="make-logo" src="//cdn.dealerspike.com/imglib/InventoryPages/makes/Yamaha-logo.png">

						<h3 class="make-name">
							Yamaha
						</h3>
					</div>
				</a>
			</li>
			
			<li class="make item-Yamaha-Power">
				<a href="/inventory/v1/Current/Yamaha-Power">
					<img class="make-image" src="//cdn.dealerspike.com/imglib/InventoryPages/makes/Yamaha-Power.jpg">
					<div class="make-info">

						<img class="make-logo" src="//cdn.dealerspike.com/imglib/InventoryPages/makes/Yamaha-Power-logo.png">

						<h3 class="make-name">
							Yamaha Power
						</h3>
					</div>
				</a>
			</li>
			
			<li class="make preowned dealerinventorybutton" id="preCatalog" style="background-image: none;">
				<a href="/--xPreOwnedInventory">
					<div class="make-info">
						<h3 class="make-name">Pre-Owned</h3>
					</div>
					<img class="make-image" src="https://cdn.dealerspike.com/imglib/showroom/powersports-pre.jpg">
				</a>
			</li>

			<li class="make new dealerinventorybutton" id="newCatalog" style="background-image: none;">
				<a href="/--xNewInventory">
					<div class="make-info">
						<h3 class="make-name">New</h3>
					</div>
					<img class="make-image" src="https://cdn.dealerspike.com/imglib/showroom/powersports-new.jpg">
				</a>
			</li>

		</ul>
	</div>
</section>