<h1>Glossary</h1>

<ul class="glossary-list">
	<li>
		<strong id="clientfolder">Carpeta del cliente</strong>
		<p>Carpeta en el servidor (<a href="#stageserver">Stage</a> o <a href="#liveserver">Live</a>) que contiene los archivos del sitio. Usualmente estará nombrada según el <a href="#shortname">nombre corto</a> del cliente.</p>
	</li>

	<li>
		<strong>Config</strong>
		<p>Es el archivo donde están las variables de configuración del cliente, lo puedes encontrar en la ruta: <em>/includes</em> dentro de la <a href="#clientfolder">carpeta del cliente</a>.</p>
	</li>

	<li>
		<strong>Content PSDs</strong>
		<p>Es la carpeta dentro del servidor <a href="#fredserver">fred</a> que almacena los PSD que se generan durante algunas tareas de content, está ubicada en la ruta: <em>/Common</em>.</p>
	</li>

	<li>
		<strong>Domain Name</strong>
		<p>The Live URL for a certain client, which might be the one that the client is currently using, or the one he will use when the stage site go Live. <i>In the <a href="#donenessdoc">doneness doc</a>, you will find the domain name in the <b>row 5</b> for every customer column.</i></p>
	</li>

	<li>
		<strong>Doneness Doc</strong>
		<p>It's a Google Spreadsheet that contains the information of the clients. There are two of this documents, one for <a href="http://bit.ly/olddoneness" target="_blank">Redesign</a> (most of them) and another one for <a href="http://bit.ly/newdoneness" target="_blank">New Clients</a>.</p>
	</li>

	<li>
		<strong id="fredserver">Fred</strong>
		<p>Server where the PSD files are saved, among many other files. In order to conect to this server, you must be connected to the VPN.</p>
	</li>

	<li>
		<strong id="liveserver">Live Server</strong>
		<p></p>
	</li>

	<li>
		<strong id="stageserver">Stage Server</strong>
		<p></p>
	</li>

	<li>
		<strong id="shortname">Shortname</strong>
		<p></p>
	</li>
</ul>