<section class="dst-block">
	<h1>Glossary</h1>
	<div class="dst-content">
		<h3>Jump to:</h3>
		<ol>
			<li><a href="#content-page-map">Content Page Map</a></li>
			<li><a href="#index-map">Index Map</a></li>
			<li><a href="#form-map">Form Map</a></li>
			<li><a href="#terms">Terms</a></li>
		</ol>
	</div>
	<hr/>
	<div id="content-page-map" class="block">
		<h3>Content Page Map</h3>
			<img src="/fckimages/glossary/site-components-content-hd.jpg" />
	</div>
	<div id="index-map" class="block">
		<h3>Index Map</h3>
			<img src="/fckimages/glossary/site-components-lg.jpg" />
	</div>
	<div id="form-map" class="block">
		<h3>Form Map</h3>
			<img src="/fckimages/glossary/site-components-form.jpg" />
	</div>
	
	<div id="terms" class="block">
		<h3>Terms</h3>
			<blockquote>
				<h4>Accordion</h4>
				<p>Content with sections that open/expand or close/collapse when clicking the heading. Common on mobile footer columns.</p>
			</blockquote>

			<blockquote>
			<h4>Alt Text</h4>
			<p>"Alternate Text". An attribute placed on an image that will show if the image doesn't load. Useful for SEO and screen readers.</p>
			</blockquote>

			<blockquote>
			<h4>Banner Image</h4>
			<p>A wide, usually decorative, image across the top of a page</p>
			</blockquote>

			<blockquote>
			<h4>Breadcrumbs</h4>
			<p>Links that show where you've been as you click deeper into a site. Usually small text, either at the top or bottom of a page, and usually in the format of <br/>
			<i>Top Level > Sub-section > Where You Are </i> <br/>
			Visible at the top of Showroom pages.</p>
			</blockquote>

			<blockquote>
			<h4>Checkboxes</h4>
			<p>Form components that allow multiple options to be selected at once.</p>
			</blockquote>
			
			<blockquote>
			<h4>CTA Button</h4>
			<p>"Call-to-Action", or just "Action" buttons. Links intended to direct users to click through or submit leads. Usually referring to fancy buttons on the index page, but can also refer to the "Lead Button" on form pages.</p>
			</blockquote>
			
			<blockquote>
			<h4>Filter</h4>
			<p>When talking about (usually inventory) URLs, the filter is the part at the end. Each filter is preceeded by an ampersand.<br/>
			<i>/--xAllInventory#page=xAllInventory&year=2017&make=allied%20boats</i> <br/>
			<p>When talking about elements on the inventory page, the filters are the form fields at the top of V6 pages that are used to narrow down the selection of units shown. After changing one of the filters, you will see the update in the URL.</p>
			</blockquote>

			<blockquote>
			<h4>FINV</h4>
			<p>The Featured Inventory slider widget on the index page.</p>
			</blockquote>

			<blockquote>
			<h4>Footer</h4>
			<p>The bottom section of the site that is shown on every page. Includes quick links, DS logo and legal links, and usually other contact info.</p>
			</blockquote>

			<blockquote>
			<h4>Form</h4>
			<p>Something that accepts and submits user input. Can include text input, dropdowns/selects, radio buttons, checkboxes, and submit buttons. Can be full-page forms (like --xcontact), or embedded forms (like a newsletter signup or an inventory search box in the header or footer).</p>
			</blockquote>

			<blockquote>
			<h4>Header</h4>
			<p>The top section of the site that is shown on every page. Includes the dealer logo, navbar, and usually other contact info.</p>
			</blockquote>

			<blockquote>
			<h4>Link</h4>
			<p>A link creates a clickable connection to another web page. It usually involves the "link text" or an image, the "URL", and the "title text". To eliminate confusion about which part of the link you are referring to, use one of those terms. A button is a type of link. An "internal" link means the URL points to a page on the same site. An "external" link means the URL points to a page on a different site (with a different domain). External links are required to open in a new browser tab or window.</p>
			</blockquote>

			<blockquote>
			<h4>Link Text</h4>
			<p>The visible, clickable part of a text-only link.</p>
			</blockquote>

			<blockquote>
			<h4>Modal</h4>
			<p>Content that overlays the regular page content, usually graying out the rest of the page behind it. The forms that show up on Inventory List when you click one of the buttons like --xget_quote or --xtrade_value are examples of modals.</p>
			</blockquote>

			<blockquote>
			<h4>Navbar</h4>
			<p>The list of links at the top of the site, shown on every page.</p>
			</blockquote>

			<blockquote>
			<h4>Navbar Links</h4>
			<p>Links in the navbar. The visible ones are the top-level navbar links. The ones shown only on hover are in a dropdown menu.</p>
			</blockquote>

			<blockquote>
			<h4>Navbar Toggle Button / "Hamburger"</h4>
			<p>The "Hamburger" button that toggles the nav links to show (usually just on mobile view, but sometimes used at all views).</p>
			</blockquote>

			<blockquote>
			<h4>Nav Arrows</h4>
			<p>Navigation arrows. The left- and right-pointing arrow icons used to get sliders or slideshows to slide manually.</p>
			</blockquote>

			<blockquote>
			<h4>Radio Buttons</h4>
			<p>Form components that allow only one option to be selected at once.</p>
			</blockquote>

			<blockquote>
			<h4>Showroom Page</h4>
			<p>/inventory/v1/</p>
			</blockquote>

			<blockquote>
			<h4>Slider</h4>
			<p>Content that slides. Sometimes called a carousel. Can contain just images (ex. "brand logo slider"), just text (ex. "testimonials slider"), videos (ex. "video slider"), or some combination (featured inventory slider, button slider, etc).</p>
			</blockquote>

			<blockquote>
			<h4>Slideshow</h4>
			<p>Images that either slide or fade as they change. Any text is part of the image. The output of the Admin's slideshow tool.</p>
			</blockquote>

			<blockquote>
			<h4>Slideshow Indicators</h4>
			<p>The small elements on or near slideshows that show how many slides there are and which one you are on. Usually circles, sometimes squares.</p>
			</blockquote>

			<blockquote>
			<h4>Tabs</h4>
			<p>Interactive elements that usually look like folder tabs. Can slide out on hover like Side Tabs (on edge of window like <a href="https://www.huntsvillemarine.com/" target="_blank">Huntsville Marine</a>), or replace content on click (like Hours Tabs in footer of <a href="http://www.mikesfamous.com/" target="_blank">Mike's Famous</a>)</p>
			</blockquote>

			<blockquote>
			<h4>Title Text</h4>
			<p>The unstyled text that shows up by your cursor when you hover over a link. This is showing the link's "title" attribute and tells search engines what kind of content is on the page the link is pointing to. Useful for SEO.</p>
			</blockquote>

			<blockquote>
			<h4>URL</h4>
			<p>The href or web address that a link points to. A "relative" URL refers to a page on the same site (e.g. /--xcontact). An "absolute" URL includes the protocol and the domain (e.g. https://www.dealerspike.com), which is usually only used for links pointing to a different site. If a link points to a different site, it requires the addition of target="_blank" to open in a new browser tab or window.</p>
			</blockquote>

			<blockquote>
			<h4>Welcome Text</h4>
			<p>The Content1 Snippet text on the index page.</p>
			</blockquote>
	</div>
	
</section>