<h1>Leadpop</h1>

<section class="subnav">
	<h3>Jump to:</h3>
	<ul>
		<li><span>Set Up Leadpop</span>
			<ul>
				<li><a href="#lpHeader">Create header</a></li>
				<li><a href="#lpSlideshow">Create slideshow pictures</a></li>
				<li><a href="#lpBrands">Set up brands and/or categories</a></li>
				<li><a href="#lpText">Add snippet text</a></li>
				<li><a href="#lpScript">Add the script</a></li>
			</ul>
		</li>
		<li><span>Replacing Styles</span>
			<ul>
				<li><a href="#lpCSSOverride">Set up CSS Override</a></li>
				<li><a href="#lpRoadBtn">"Get On The Road Today" button</a></li>
			</ul>
		</li>
	</ul>
	<div class="jump-to-top"><a href="#main">Back to top</a></div>
</section>

<section class="internal-section">
	<h3>Create header</h3>
	<p>Based on the site's design, create a 515px x 113px header image, must include the background and dealer logo only. <i>You can get the assets from the actual site by using the google chrome inspector tool. If you cross paths with a site that has a slideshow as a background, take the picture you like the most to build the header.</i></p>
	<p>Name the image file according to the format: <em>leadpopup_<b>shortname</b>.jpg</em></p>
	<p>Upload the picture to the <a href="">live server</a></p>
</section>