<section class="dst-block">
	<h1>News Update</h1>
	<div class="dst-content">
		<h3>Jump to:</h3>
		<ol>
			<li><a href="#index-map">Index Map</a></li>
			<li><a href="#form-map">Form Map</a></li>
			<li><a href="#content-page-map">Content Page Map</a></li>
			<li><a href="#terms">Terms</a></li>
		</ol>
	</div>
	<hr/>
	<div id="index-map" class="block">
		<h3>Index Map</h3>
			<img src="/fckimages/glossary/site-components-lg.jpg" />
	</div>
	<div id="form-map" class="block">
		<h3>Form Map</h3>
			<img src="/fckimages/glossary/site-components-form.jpg" />
	</div>
	<div id="content-page-map" class="block">
		<h3>Content Page Map</h3>
			<img src="/fckimages/glossary/site-components-content-hd.jpg" />
	</div>
	<div id="terms" class="block">
		<h3>Terms</h3>
			<h4>Accordion</h4>
			<p>Content with sections that open/expand or close/collapse when clicking the heading. Common on mobile footer columns.</p>

			<h4>Alt Text</h4>
			<p>"Alternate Text". An attribute placed on an image that will show if the image doesn't load. Useful for SEO and screen readers.</p>

			<h4>Banner Image</h4>
			<p>A wide, usually decorative, image across the top of a page</p>

			<h4>Breadcrumbs</h4>
			<p>Links that show where you've been as you click deeper into a site. Usually small text, either at the top or bottom of a page, and usually in the format of <br/>
			<span class="info">Top Level > Sub-section > Where You Are </span> <br/>
			Visible at the top of Showroom pages.</p>

			<h4>Checkboxes</h4>
			<p>Form components that allow multiple options to be selected at once.</p>
			
			<h4>Banner Image</h4>
			<p>A wide, usually decorative, image across the top of a page</p>
			
			<h4>Banner Image</h4>
			<p>A wide, usually decorative, image across the top of a page</p>


	</div>
	
</section>