<section class="dst-block">
	<h1>SEF Preloaded</h1>
	<div class="dst-content">
		<p>Los siguientes SEf's son los que normalmente vienen precargados desde el departamento de FED:</p>
		<ul>
			<li>/price-quote-&#91;&#91;TXT_SEF_URL_VEH_TYPES&#93;&#93;dealership--xget_quote</li>
			<li>/credit-financing-&#91;&#91;TXT_SEF_URL_VEH_TYPES&#93;&#93;dealership--financing</li>
			<li>/trade-in-value-&#91;&#91;TXT_SEF_URL_VEH_TYPES&#93;&#93;dealership--xtrade_value</li>
			<li>/test-ride-&#91;&#91;TXT_SEF_URL_VEH_TYPES&#93;&#93;dealership--xsched_ride</li>
			<li>/contact-email-&#91;&#91;TXT_SEF_URL_VEH_TYPES&#93;&#93;dealership--xcontact</li>
			<li>/about-us-&#91;&#91;TXT_SEF_URL_VEH_TYPES&#93;&#93;dealership--info</li>
			<li>/map-hours-directions-&#91;&#91;TXT_SEF_URL_VEH_TYPES&#93;&#93;dealership--hours</li>
			<li>/staff-employees-&#91;&#91;TXT_SEF_URL_VEH_TYPES&#93;&#93;dealership--xstaff</li>
			<li>/consign-your-&#91;&#91;TXT_SEF_URL_VEH_TYPES&#93;&#93;-xconsignment</li>
			<li>/careers-jobs-employment-&#91;&#91;TXT_SEF_URL_VEH_TYPES&#93;&#93;dealership--xcareers</li>
			<li>/parts-&#91;&#91;TXT_SEF_URL_VEH_TYPES&#93;&#93;dealership--parts</li>
			<li>/request-parts-&#91;&#91;TXT_SEF_URL_VEH_TYPES&#93;&#93;dealership--xparts_request</li>
			<li>/service-repair-&#91;&#91;TXT_SEF_URL_VEH_TYPES&#93;&#93;dealership--service</li>
			<li>/service-request-&#91;&#91;TXT_SEF_URL_VEH_TYPES&#93;&#93;dealership--xservice_request</li>
			<li>/events-calendar-&#91;&#91;TXT_SEF_URL_VEH_TYPES&#93;&#93;dealership--xcalendar</li>
			<li>/events-calendar-&#91;&#91;TXT_SEF_URL_VEH_TYPES&#93;&#93;dealership--xlistevents</li>
			<li>/newsletter-mailing-list-&#91;&#91;TXT_SEF_URL_VEH_TYPES&#93;&#93;dealership--xnewsletter</li>
			<li>/rent-a-&#91;&#91;TXT_SEF_URL_VEH_TYPES&#93;&#93;-xrentals</li>
			<li>/reviews-testimonials-&#91;&#91;TXT_SEF_URL_VEH_TYPES&#93;&#93;dealership--xtestimonials</li>
			<li>/submit-reviews-testimonials-&#91;&#91;TXT_SEF_URL_VEH_TYPES&#93;&#93;dealership--xsurvey</li>
		</ul>
		<p>En los SEF anteriores vienen con el apartado de <strong>&#91;&#91;TXT_SEF_URL_VEH_TYPES&#93;&#93;</strong>, que es la variable donde agregamos los tipos de vehiculo que vende el cliente desde el config, dicha variable solo se puede aplicar en los archivos con extension .asp (index,header y footer), por lo que en las paginas internas hay que sustituirla por los tipos de vehiculo, un ejemplo seria: <strong>atv-motorcycle-utv-</strong>.</p>
	</div>
</section>