<section class="dst-block">
	<h1>News Update</h1>
	<div class="dst-content">
		<h3>Jump to:</h3>
		<ol>
			<li><a href="#variable-vehiculos">Variable de TXT_SEF_URL_VEH_TYPES</a></li>
			<li><a href="#paginas-internas">Headers para paginas internas</a></li>
			<li><a href="#re-paginas-personalizadas">RE: P&aacuteginas Personalizadas</a></li>
			<li><a href="#re-forms">RE: Forms Personalizados</a></li>
			<li><a href="#options">Options In Navbar</a></li>
			<li><a href="#get-quote">Get A Quote Option In Navbar</a></li>
			<li><a href="#testi-error-id">Testimonials Errors</a></li>
			<li><a href="#ie11-id">IE 11 Revisiones</a></li>
			<li><a href="#emma-id">Myemma</a></li>
			<li><a href="#config-id">Config Filters</a></li>
			<li><a href="#default-id">Default Content</a></li>
			<li><a href="#cta-id">CTA's</a></li>
			<li><a href="#launch-id">Tarjetas Trello Launch</a></li>
			<li><a href="#flex-id">Flexbox Mixins</a></li>
			<li><a href="#youtube-id">YouTube videos (atributo rel)</a></li>
			<li><a href="#banner-id">Banners</a></li>
			<li><a href="#tel-id">Enlaces Telefonos (obligatorio en hours)</a></li>
			<li><a href="#protocolo-id">Protocolo SSL</a></li>
			<li><a href="#sef-id">Sef Rules</a></li>
			<li><a href="#grammar-id">Gramatica Content</a></li>
			<li><a href="#testi-id">Testimonials</a></li>
			<li><a href="#coma-id">Oxford Comma</a></li>
			<li><a href="#capitalization-id">Capitalizaci&oacuten</a></li>
			<li><a href="#psd-newsletter">Newsletter Account</a></li>
			<li><a href="#images-to-text">Transcripción de Imágenes</a></li>
		</ol>
	</div>
	<hr/>
	<div id="variable-vehiculos" class="block">
		<h3>Variable de TXT_SEF_URL_VEH_TYPES</h3>
			<p>El equipo de FED empezar&aacute a dejar la variable de TXT_SEF_URL_VEH_TYPES en el config.asp vacia para que content la llene con los tipos de vehiculos correctos para cada sitio. La cantidad es de un m&aacuteximo de 3 vehículos y dando prioridad a los vehículos.</p>
	</div>
	<div id="paginas-internas" class="block">
		<h3>Headers para paginas internas</h3>
			<p>Hablando con el equipo de DS se ha llegado al acuerdo de usar las marcas que est&aacuten en el showroom para crear las im&aacutegenes de los headers, y no solo la principal (si no hay im&aacutegenes disponibles de todas las marcas, utilizar de las que si y variado y recordando que solo aquellas que sean vehiculos)</p>
			<p>Si los sitios son Mahindra, Jhon Deere o H-D, en cuyo estilo esté solo esa marca es v&aacutelido dejar solo la principal.</p>
	</div>
	<div id="re-paginas-personalizadas" class="block">
		<h3>RE: P&aacuteginas Personalizadas</h3>
			<p>No asuma que el distribuidor desea cambiar a las p&aacuteginas / informaci&oacuten / formularios predeterminados si tienen funcionalidad personalizada en el sitio en vivo - verifique con el launcher.</p>
	</div>
	<div id="re-forms" class="block">
		<h3>RE: Forms Personalizados</h3>
			<p>Algunos sitios tienen formularios personalizados: si se sabe que FED necesita transferir esta informaci&oacuten, env&iacutee la solicitud de FED y pase a los cambios de FED una vez que se complete la transferencia de contenido en lugar de simplemente dejar una nota.</p>
	</div>
	<div id="options" class="block">
		<h3>Options In Navbar</h3>
			<p>Aseg&uacuterese de que todas las p&aacuteginas predeterminadas (Promotions, Value Trade, Test Ride, etc) est&eacuten linkeadas en el navegador principal.</p>
	</div>
	<div id="get-quote" class="block">
		<h3>Get A Quote Option In Navbar</h3>
			<p>No incluir "Get A Quote" en el menu desplegable de "Financing" o en las p&aacuteginas de "Financing". El "Get A Quote", es una cotizaci&oacuten para vehiculos, no para presupuestos financieros, y es confuso para los clientes de los clientes</p>
	</div>
	<div id="testi-error-id" class="block">
		<h3>Testimonials Errors</h3>
			<p>Solo los testimonials que necesiten correccion seran editados (sin tener que elimimar y volver a agregar los que van antes que el).</p>
	</div>
	<div id="ie11-id" class="block">
		<h3>IE 11 Revisiones</h3>
			<p>Las revisiones para IE 11 se har&aacuten de SM en adelante.</p>
	</div>
	<div id="emma-id" class="block">
		<h3>Myemma Templates</h3>
			<p>Tanto New Clients como RE, no es necesario crearles templates cuando la cuenta no existe. Solo se pondra una nota para el QA de que se esta esperando por la cuenta.</p>
	</div>
	<div id="config-id" class="block">
		<h3>Config Filters</h3>
			<p>En el archivo config, en la variable <b>TXT_SEF_URL_VEH_TYPES</b>, se pondran maximo 3 tipos de vehiculos que el cliente maneja. Solo en New Clients.</p>
	</div>
	<div id="default-id" class="block">
		<h3>Default Content</h3>
			<p>Las paginas default tienen solo para poner una marca(brand), y dependiendo del sitio, se seleccionara de 3 maneras:</p>
			<ul>
				<li>Si hay un listado de logos, tomar el primer logo que veas.</li>
				<li>Si el sitio no tiene un un sitio live para comparar, ir al showroom (estara activado, en la mayoria de los casos).</li>
				<li>Como nota adicional: No importa mucho la marca que se elija, si se necesita cambiarse, el launcher lo podra hacer.</li>
				<li>En caso especial, cuando el sitio tenga varias brands principales, que no se identifique bien una principal, se debera poner el listado de esas marcas en el contenido.</li>
			</ul>
			<p><span class="alert">RE:</span></p>
			<p>Copiar el contenido exactamente como en el sitio live, es decir, no se usara el nuevo contenido default, los links se pasaran tambien salvo se tenga que agregar o quitar alguna marca que el cliente ya no utilice o este por usar.</p>
	</div>
	<div id="cta-id" class="block">
		<h3>CTA's</h3>
			<p>En todas las paginas default, y en las que habla acerca de productos y/o servicios deben tener un boton al final de la pagina.</p>
	</div>
	<div id="launch-id" class="block">
		<h3>Tarjetas Trello Launch</h3>
			<p>Marcar las tareas que vayan haciendo de cada sitio conforme las vayan acabando, y tambien recuerden marcar la casilla de "content" en la tarjeta correspondiente en el tablero de launch una vez que pasan la tarjeta del tablero de FED a Content QA, el encargado de hacer el QA debe de marcar "content QA" cuando pasen la tarjeta a complete o a FED changes</p>
	</div>
	<div id="flex-id" class="block">
		<h3>Flexbox Mixins</h3>
			<p>En el folder de cada cliente hay un archivo que contiene los mixins necesarios para que los estilos funcionen correctamente entre exploradores, encuentra en: <b><i>less/themes/nombreSitio/flexbox-mixins.less</i></b>. Este no lo debemos editar, pero podemos utilizar los procedimientos que vienen ahi. </p>
	</div>
	<div id="youtube-id" class="block">
		<h3>YouTube videos (atributo rel)</h3>
			<p>La forma correcta de ponerla realmente depede mucho del enlace que esten usando. El ? en los enlaces indica el inicio de atributos en una URL, por lo tanto debe de ir solo una vez: <b><i>https://www.youtube.com/embed/CLluTbKLgO0?rel=0</b></i></p>
			<p>El & indica que agregaras otro atributo y puede ir mas de una vez: <b><i>https://www.youtube.com/embed/CLluTbKLgO0?controls=0&start=60&rel=0 </b></i></p>
			<p>Adicionalmente, Youtube ofrece ya la opcion de quitar los videos recomendados <span class="image-link"><a href="https://i.imgur.com/EsAVwOe.png" target="-blank">click here</a></span></p>
	</div>
	<div id="banner-id" class="block">
		<h3>Banners</h3>
			<p>Los banners se ponen en las paginas cuando estas son muy simples (tienen muy pocas imagenes o son solo texto). En casos como este <span class="image-link"><a href="https://i.imgur.com/FYhsSr6.png" target="-blank">click here</a></span>. Donde hay un slideshow justo iniciando el contenido ya no es necesario poner un banner.</p>
	</div>
	<div id="protocolo-id" class="block">
		<h3>Protocolo SSL</h3>
			<p>Todos los sitios saldran certificados con SSL (protocolo de seguridad para los sitios web), por lo tanto, es importante que verifiquemos que los enlaces externos que agregamos en los sitios cumplan con este protocolo (usualmente podemos verlo porque en la url aparece como https:// en lugar de http://). La forma mas sencilla de revisarlo es guiandonos por la consola del inspector, si nos salen mensajes como estos <span class="image-link"><a href="https://prnt.sc/gnomry" target="-blank">click here</a></span>. Es porque trata de cargar recursos (im&aacutegenes, javascripts, css) desde un servidor no seguro.</p>
	</div>
	<div id="sef-id" class="block">
		<h3>Sef Rules</h3>
			<p>Traspasar los sef del sitio live EXACTAMENTE como est&eacuten al sitio stage sin correcciones de ningun tipo (palabras mal escritas, veh&iacuteculos que ya no vendan, may&uacutesculas donde no deben de ir, etc.). Si las paginas no tienen sef, entonces si esta permitido agregar uno (paginas nuevas, /default.asp?page=page, o /--page)</p>
	</div>
	<div id="grammar-id" class="block">
		<h3>Gramatica Content</h3>
			<p>En cuestiones de la gramatica de los sitios hay que tener mucho cuidado. Estos son algunos de los casos m&aacutes comunes:</p>
			<ul>
				<li>las palabras "equipment" y "personal watercraft" no tienen forma plural, por lo tanto no deben de llevar "s" al final.</li>
				<li><b>Accessories</b> y <b>Accessory</b> est&aacuten escritas correctamente.</li>
				<li>Los plurales correctos son <b>RVs</b> <b>ATVs</b> and <b>UTVs</b> y no RV's ATV's y UTV's - &eacutestos &uacuteltimos son posesivos</li>
				<li><b>Summarization</b> está mal escrito, debe de ser <b>Summerization</b></li>
			</ul>
	</div>
	<div id="testi-id" class="block">
		<h3>Testimonials</h3>
			<p>Es <b>MUY IMPORTANTE</b> cambiar los correos en el admin antes de agregar testimonials ya que si no se cambian al cliente le llega un correo por <b>CADA</b> uno agregado. Hay que evitar crearle esta inconveniencia al cliente por favor.</p>
	</div>
	<div id="coma-id" class="block">
		<h3>Oxford Comma</h3>
			<p>El uso de coma antes de una conjuncion es correcta. La confusion de este es comprensible ya que es diferente en el ingles britanico y estadounidense. Pero manejamos paginas estadounidenses as&iacute que se usa la coma antes de la conjuncion. <span class="image-link"><a href="http://www.grammar-monster.com/lessons/commas_in_lists.htm" target="-blank">Click here</a></span></p>
	</div>

	<div id="capitalization-id" class="block">
		<h3>Standard para capitalizaci&oacuten</h3>
			<p>Existe un est&aacutendar para aplicar may&uacutesculas en ciertos textos (como en t&iacutetulos por ejemplo). Pueden usar <span class="image-link"><a href="https://capitalizemytitle.com/" target="-blank">esta herramienta</a></span> y escribir o copiar su texto en ella y autom&aacuteticamente capitalizar&aacute sus t&iacutetulos. No reconoce palabras que com&uacutenmente ponemos en may&uacutesculas como RV, ATV, UTV, as&iacute que hay que estar pendientes de ellas</p>
	</div>
	<div id="psd-newsletter" class="block">
		<h3>Newsletter Account</h3>
			<p>Si no existe cuenta del cliente en My Emma, no se creeara template, tampoco se creara PSD para esta.</p>
	</div>
	<div id="images-to-text" class="block">
		<h3>Transcripción de Imágenes</h3>
			<p>Al transferir las páginas de contenido nos podemos topar con imágenes que tienen texto incrustado. No todas estas imágenes se transcriben.</p>
			<p>Las imágenes que <strong>sí transcribimos</strong> cumplen con las siguientes características:</p>
			<ul>
				<li>Es una imagen propiedad el dealer.</li>
				<li>El contenido habla del dealer, o sus productos o servicios.</li>
				<li>Es una imagen que no es legible en vista XS o vistas posteriores.</li>
			</ul>
			<p>Las imágenes que <strong>no transferimos</strong> cumplen con las siguientes características:</p>
			<ul>
				<li>Es una imagen que pertenece a terceros, por ejemplo, que el propietario de la imagen y su contenido sea Harley-Davidson&reg;, H.O.G.&reg; o alguna otra marca en particular.</li>
				<li>Es un flyer, banner, poster o promocionales.</li>
				<li>El contenido no tiene relación alguna con el dealer.</li>
			</ul>
	</div>
</section>